/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/
body {
	font-size: 16px;
	font-family: verdana, sans-serif;
	background-color: #DE353E;

}


/*-----CONTAINER -----*/
#container {
	background-color: #fff;   /*becomes the nav background color*/
	min-width: 320px;
	max-width: 1006px;

}

/*-----HEADER -----*/
header {
	background-color: #E2C48C;
	border: solid #000000 2px;

img {
	float: left;
	width: 100%;
	
	
}
h1 {
	font-size: 40px;
	float: left;
	color: #000000;

}
h2 {
	font-size: 25px;
	padding-top: 8px;
	padding-bottom: 10px;
	color: #000000;
}
}/*end of header nesting*/



div.search input {
	float: right;
	border-radius: 5px;
	border: solid 2px rgba(0,0,0,0.5);
	padding: .5em;
	margin: 1em 1em;
	background-color: rgba(255,255,255,0.4);
}

/*----registration page----*/

body{
	padding: 0px;
	margin: 0px;
}
form {
	width: 100%;
	padding: 30px;
	border: 1px solid blue;
	margin: 5px auto;
}
.textInput {
	margin-top: 2px;
	height: 28px;
	border: 1px solid yellow;
	font-size: 16px;
	padding: 1px;
	width: 100%;
}
#error_msg{
	width: 50%;
	margin: 5px auto;
	height: 30px;
	border: 1px solid orange;
	background: purple;
	color: green;
	text-align: center;
	padding-top: 10px;
}
td{
	text-align: right;
}
/*----login info----*/
/* Bordered form */
/*form {
    border: 3px solid white;
}

/* Full-width inputs */
/*input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: blue;
	float: right;
    color: white;
    padding: 12px 18px;
    margin: 10px 10px 7px 0;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

/* Extra style for the cancel button (red) */
/*.cancelbtn {
    width: auto;
    padding: 10px 25px;
	margin: 10px 10px 10px 15px;
    background-color: grey;
}

/* Center the avatar image inside this container */
/*.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
/*img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
/*.container {
    padding: 16px;
}

/* The "Forgot password" text */
/*span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
/*end of login info*/






h1.paragraph {
	padding-top: 1em;
}


/*-----NAVigation -----*/
nav {
	border: solid #000000 2px;
a {
	display:block;
	text-align: center;
	padding: .9em;
	background-color: #E2C48C;
	color: #181327;
	text-decoration: none; 
	border: 2px solid #000;
	border-radius: 10px;
	margin: 8px;
	font-size: 15px;
}

li.active a {
	background-color: rgba(176,176,176,0.7);
	
}

a:hover {
	background-color: #DE353E; 
	color: #fafae1;
}

}/*end of Nav nesting*/


/*-----CONTENT -----*/
#content {
	min-height: 5em;
	background-color: white;

}

#content h1 {
	margin: 4px 2% 0 0;
	font-size: 25px;
	color: black;
}

#content p {
	padding-top: 15px;
	padding-bottom: 8px;
}

#content article {
	margin: 0 2%;

}

#content article.news, #content article.tweet {
	background-color: #f6f9cb;
	margin-top: 8px;
	margin-bottom: 8px
}


/*-----content for photos-----*/


#content h1 {
	font-size: 2.3em;
	padding-top: .5em;
	padding-bottom: .5em;
}
#content h2 {
	font-size: 1.5em;
	margin: 0 2%;
	color: #000000;
	font-weight: 700;
}
#content h3 {
	margin: .3em 0 .5em 0;
	font-size: 1.5em;
}
#content p {
	padding-top: .6em;
}
article {
	margin: .9em 2%;
	border-top: 1px solid #06518a;
	font-size: 1.2em;
}
article figure {
	overflow: hidden;
	width: 100%;
}
article figure img {

	margin-right: 4%;
	float: left;
	border: 1px solid black;
}
article figure figcaption {
	display: inline;
	width: 50%;
	font-size: .7em;
	color: #06518a;
}


/*-----images-----*/
figure.w100 {
	width: 100%;
	padding: 10px;
}

figure.w33 {
	width: 96%;
	border: 1px solid black;
	margin: 2px 2% 2px 0;
}
#index figure.shop img{
	width:100%; 
}
#contact figure img{
	width:90%; 
	
}
#index figure img {
	width: 100%;
}

#sale figure img {
	width: 50%;
}

#aboutus figure.shop img{
	width:50%; 
	border: 2px solid black;
	margin: 10px 2% 15px 0;
}
#contact p {
	width: 50%;
	float: left;
}
 #content figcaption {
 	text-align: center;
 	font-size: 15px;
 	color: black;
 	padding: 6px;
 	margin-bottom: 2px;
  }

/*-----beginning of the form-------*/



/*----- FOOTER -----*/
footer {
	clear: both;
	text-align: center;
	padding: 1em;
	background-color: black;
	color: white;
	font-size: 8px;
}


/*----- Other -----*/
.keepopen {
	clear: both;
}
